---
layout: default
---
    <div class="home">
      <div class="content-col-wrapper">
        <div class="content-col">
          <div class="dummy">
            <div class="dummy blogpost">
              <b><span class="big">杂录</span></b>
            </div>
          </div>
          <ul class="post-list">
            {% for post in paginator.posts %}
            <li class="index-title">
              <a class="index-title-style" href="{{ post.url | relative_url }}">{{ post.title }}</a>
              <span class="index-date-style"> — {{ post.date | date_to_string }}</span>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>{% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}">
        <b><span class="big">Previous</span></b>
      </a>{% else %}{% endif %}{% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}">
        <b><span class="big">Next</span></b>
      </a>{% else %}{% endif %}
      {% include nav.html %}
    </div>
